[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/jc3_api"]
	path = deps/jc3_api
	url = https://github.com/xforce/jc3-api.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/ksignals"]
	path = deps/ksignals
	url = https://github.com/xforce/ksignals.git
